:root {
  --mdc-theme-secondary: var(--mdc-theme-primary);
}
.test {
  display: inline-block;
}

.content-border {
    padding: 20px; /* Adjust this value as needed */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: .938rem;
  font-weight: 400;
  background-color: #fafafa;
  margin: 0;
}
h2 {
  margin-top: .75em;
  margin-bottom: .25em;
}
p {
  margin-top: 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.w-100 {
  width: 100%;
}

.ribbon {
  background-color:#06123b;
  flex-shrink: 0;
  height: 42vh;
  width: 100%;
}
.card-container {
  display: flex;
  justify-content: center;
  margin-top: -40vh;
}
.mdc-card {
  width: 100%;
  max-width: 860px;
  margin: 16px;
  padding: px;
}

#dropdown {
  display: none;
}

.mdc-radio {
  margin-right: 2px;
}



.mdc-text-field--radio {
  height: 1.75rem;
}

.mdc-text-field--radio input {
  font-size: 0.875rem;
}

.mdc-icon-button {
  font-size: 12px; /* Smaller font size */
  padding: 4px; /* Reduced padding */
  border: 2px solid black; /* Keep the border */
  border-radius: 5%; /* Less rounded corners for a more square shape */
  display: inline-flex; /* Center the content */
  align-items: center;
  justify-content: center;
  width: 24px; /* Smaller width for a smaller button */
  height: 24px; /* Smaller height to match the width for a circle */
}

.cell-line-set {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  gap: 5px; /* Spacing between elements */
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 1px; /* Spacing between options */
}

.cell-line-name-field {
  width: 200px; /* Adjust width as needed */
  margin-top: 8px; /* Moves the input field down to align as desired */
  margin-left: 30px;
}

.mdc-icon-button {
  display: block; /* Ensure the button takes its own line */
  margin-top: 10px; /* Space above the + button */
  margin-left: 15px;
}

.mdc-icon-button-custom{
    font-size: 20px !important;      /* Ensuring our style overrides MDC styles */
    padding: 12px 24px !important;   /* Important tag may be needed depending on specificity */
    min-width: 120px;                /* Minimum width */
    height: 50px;                    /* Specific height */
}
.svg-container {
    position: absolute;
    top: 0;
    right: 0;
  
}
.svg-container-custom {
  display: flex;  /* Enables flexbox layout */
  align-items: center; /* Vertically align items in the middle */
  justify-content: space-around; /* Spreads the items evenly with space around them */
}
.svg-container-custom-bottom {
  
  display: flex;  /* Enables flexbox layout */
  align-items:center; /* Vertically align items in the middle */
  justify-content: space-around; /* Spreads the items evenly with space around them */
}

hr {
  border: none;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#06123b;
  height: 5px;
}

.custom-basal-media {
  margin-left: 0;
  padding-left: 0;
}

.custom-serum-supplements{
  margin-left: 0;
  padding-left: 0;
}

.custom-growth-factors {
  margin-left: 0;
  padding-left: 0;
}

.custom-passaging {
  margin-left: 0;
  padding-left: 0;
}

.custom-readout {
  margin-left: 0;
  padding-left: 0;
}

.numbering-and-field {
  display: flex;
  align-items: flex-start; /* Align items at the top */
}

.fields-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 10px; /* Space between fields */
}

.field {
  flex: 1;
}
#mediaCheckbox, .passaging--container {
  display: block;
  width: 100%;
  float: none;
  clear: both;
  margin-left: 0;
}

#step0Checkbox, .step0 {
  display: block;
  width: 100%;
  float: none;
  clear: both;
}


#submitBtn {
  font-size: 18px;          /* Larger font size */
  padding: 10px 20px;       /* Larger padding for a bigger button */
  width: 50%;               /* Sets the button width to 50% of its parent container */
  margin-top: 20px;         /* Adds space above the button */
  margin-bottom: 30px;      /* Adds space below the button */
  background-color: #06123b; /* Changes the button color to dark blue */
  color: white;             /* Changes the text color to white */
  border: none;             /* Removes any border */
  align-items: center;;
}


.button-style {
  background-color: #06123b; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.index-container {
  display: flex; /* Uses flexbox to align children side by side */
  justify-content: space-around; /* Distributes space between the children */
  padding: 20px;
}
.index-section {
  flex: 1; /* Allows each section to take equal width */
  margin: 10px;
  padding: 10px;
  text-align: center; /* Centers the text and button in the section */
}

.sign-up-container {
  display: flex; /* Enable flex layout */
  align-items: start; /* Align items to the start of the flex container */
  justify-content: space-between; /* Space between the text and image */
}

.sign-up-text-content {
  flex: 1; /* Allows text content to fill the available space */
  padding-right: 50px; /* Optional: Adds some space between text and image */
}

.sign-up-image-container {
  flex: 0 0 auto; /* Prevents the image container from growing or shrinking */
  padding-left: 20px;
}

.delete-button-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    
  padding-top: 17px; /* Centers vertically */
  height: 100%;            /* Take full height of the container (adjust based on your design needs) */
}

.deleteMediaButton {
  width: 20px; /* Adjust the width as needed */
}

.deleteSerumButton {
  width: 20px; /* Adjust the width as needed */
}
.deleteGrowthFactorButton {
  width: 20px; /* Adjust the width as needed */
}
.deletePassagingButton {
  width: 20px; /* Adjust the width as needed */
}
.deleteReadoutButton {
  width: 20px; /* Adjust the width as needed */
}

.row {
  display: flex; /* Enables flexbox layout which is great for lining items in a row */
  align-items: center; /* Aligns items vertically in the center */
}

#target-cell-keywords {
  margin-right: 10px; /* Adds some spacing between the text field and the delete button */
}

.delete-button-container {
  align-items: center;    
  padding-top: 17px;  /* This container can stay as is unless you need specific styling */
}